#contactNav {
    display: flex;
    background-image: url("../img/pattern3.png");
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    border-bottom: solid 4px #d4ff55;
}

#contactNav h2 {
    color:#333333;
    font-family: Roboto;
    font-size: 30px;
    padding-left: 30px;
}