.contact {
    background-color: rgb(33, 37, 41);
    height: 100vh;
    position: relative;
}
.contact hr {
    border-style: solid;
    border-color: #69e2ff;
    border-width: 2px;
}

.contact ul li {
    text-align: left;
    list-style-type: none;
    color: #fff;
    font-size: 30px;
    line-height: 2;
    margin-left: 0 auto;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
}

.contact h2 {
    text-align: left;
    color: #fff;
    font-size: 36px;
    font-family: Roboto;
}



#contactPic {
    height: 400px;
    float: left;
    margin-right: 20px;
    border: solid;
    border-width: 1px;
    border-color: #fff;
}

i {

    color: #fff;
    padding: 8px;
}