.headerNav {
    display: flex;
    background-color: #27221F;
    align-items: center;
   
    position: sticky;
    top: 0;
    left: 0;
    width: 66%;
    opacity: .8;
}

.logo {
    font-family: Roboto;
    font-size: 30px;
    color: #fff;
    padding-left: 30px;
}

nav ul {
    list-style: none;
    padding-right: 25px;
}

nav ul li {
    display: inline-block;
    margin-right: 8px;
}

nav ul li a {
    font-family: Roboto;
    text-decoration: none;
    color: #fff;
}