.card {
    height: 200px;
    width: 400px;
}



.learn a {
    opacity: 0;
}


.learn:hover a{
    opacity: 1;
    color: #fff;
    
}

.learn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/twin_clicks.png');
}