
.projects {
    background-color: rgb(33, 37, 41);
    height: 100vh;
    position: relative;
}

.projects p {
    font-weight: 700;
    font-size: 1.75rem;
    color: rgb(33, 37, 41);
}

.card {
    height: 200px;
    width: 400px;
}

